/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.header {
    text-align: center;
}
.center-all {
    padding: 100px 10px;
    text-align: center;
}

mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}